<section><!--Inicio de Seccion Proyectos-->

    <div class="container-flui text-center"><!--Inicio Contenedor proyectos-->
      
        <div class="row p-3"><!--Inicio titulo Proyectos-->
          <div class="col-xs-12 col-md-6 col-lg-11">
                               
              <h1 class="titulo1">Proyectos</h1>
                            
          </div>
    
          <div class="col-xs-12 col-md-6 col-lg-1">
                               
              <ul class="list-group list-group-horizontal">
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#tituproye"></i></a></div>
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
               
              </ul>
                            
          </div>
        </div><!--fin titulo proyectos-->
          
        <div class="row p-3"><!--Inicio Primer proyecto-->
          <div class="col-xs-12 col-md-6 col-lg-4 text-center"><!--Inicio primera columna Primer proyecto-->
                                 
            <div class="card" style="width: 18rem;">
              <img src="../assest/img/proye.png" class="card-img-top" alt="Proyectos Jorge Lesme">
              <div class="card-body">
                <h5 class="card-title">Proyecto Actual</h5>
                <p class="card-text">Primer proyecto exitoso que sumo integrantes y usuarios de nuestros servicios de excelente calidad.</p>
                <a href="#" class="btn btn-primary">Visitar Proyecto</a>
              </div>
            </div>
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoproye1"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
                      
          </div><!--Fin primera columna Primer Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-4"><!--Inicio primera columna Primer proyecto-->
                                 
            <div class="card" style="width: 18rem;">
              <img src="../assest/img/azul.png" class="card-img-top" alt="Proyectos Jorge Lesme">
              <div class="card-body">
                <h5 class="card-title">En Proyecto</h5>
                <p class="card-text">Espacios listos para los proyectos que que estan siendo desarrollados actualmente, pero podemos agregar mas lugares para agregar la de TU EMPRESA.</p>
                <a href="#" class="btn btn-primary">Link a Futuro Proyecto</a>
              </div>
            </div>
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoproye2"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
                      
          </div><!--Fin primera columna Primer Estudio-->
             
          <div class="col-xs-12 col-md-6 col-lg-4"><!--Inicio Tercera columna Experiencia Laboral-->
    
            <div class="card" style="width: 18rem;">
              <img src="../assest/img/rojo.png" class="card-img-top" alt="Proyectos Jorge Lesme">
              <div class="card-body">
                <h5 class="card-title">En Proyecto</h5>
                <p class="card-text">Espacios listos para los proyectos que que estan siendo desarrollados actualmente, pero podemos agregar mas lugares para agregar la de TU EMPRESA.</p>
                <a href="#" class="btn btn-primary">Link a Futuro Proyecto</a>
              </div>
            </div>
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoproye3"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Primera Experiencia Laboral-->
    
        </div><!--Fin Primer proyecto-->
              
        
    </div><!--Fin Contenedor Experiencia Laboral-->
    
    </section><!--Fin Sección proyectos-->
