<section><!--Inicio de Seccion Educacion-->

    <div class="container-flui text-center"><!--Inicio Contenedor Educacion-->
      
        <div class="row p-3"><!--Inicio titulo Educacion-->
          <div class="col-xs-12 col-md-6 col-lg-11">
                               
              <h1 class="titulo1">Estudios Realizados</h1>
                            
          </div>
    
          <div class="col-xs-12 col-md-6 col-lg-1">
                               
              <ul class="list-group list-group-horizontal">
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#tituesture"></i></a></div>
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
               
              </ul>
                            
          </div>
        </div><!--fin titulo Educacion-->
          
        <div class="row p-3"><!--Inicio Primer Estudio-->
          <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Primer Estudio-->
                                 
            <div class="row"><!--Inicio Logo Primer Estudio-->
              <div class="col-xs-12 col-md-6 col-lg-8">
                 
                <img class="logodr" src="../assest/img/raulpeña.png" alt="Logo Dr. Raul Peña">
    
              </div>
              
      
              <div class="col-xs-12 col-md-6 col-lg-4">
      
                <ul class="list-group list-group-horizontal">
    
                  <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                  data-bs-toggle="modal" data-bs-target="#estu1logo"></i></a></div>
    
                  <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
                 
                </ul>
      
              </div>
      
            </div><!--Fin logo Primer Estudio-->
                      
          </div><!--Fin primera columna Primer Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Primer Estudio-->
                                 
            <h4 class="institu"><i><strong>Colegio E.M.D. Dr. Raul Peña"</strong></i></h4>
            <h5 class="bajo">Bachiller en Ciencias y Letras</h5>
            <h6 class="bajo">Caacupé - Paraguay</h6>
                              
          </div><!--Fin Segunda columna Primer Estudio-->
             
          <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Primer Estudio-->
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoestu1"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Primer Estudio-->
    
        </div><!--Fin Primer Estudio-->
    
        <div class="row p-3"><!--Inicio Segundo Estudio-->
          <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Segundo Estudio-->
                                 
            <div class="row"><!--Inicio Logo Segundo Estudio-->
              <div class="col-xs-12 col-md-6 col-lg-8">
                 
                <img class="logodr" src="../assest/img/raulpeña.png" alt="Logo Dr. Raul Peña">
    
              </div>
      
              <div class="col-xs-12 col-md-6 col-lg-4">
      
                  <ul class="list-group list-group-horizontal uticla">
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                        data-bs-toggle="modal" data-bs-target="#estu2logo"></i></a></div>
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
                 
                  </ul>
      
              </div>
      
            </div><!--Fin logo Segundo Estudio-->
                      
          </div><!--Fin primera columna Segundo Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Segundo Estudio-->
                                 
            <h4 class="institu"><i><strong>Colegio E.M.D. Dr. Raul Peña"</strong></i></h4>
            <h5 class="bajo">Bachiller Tecnico en Informatica</h5>
            <h6 class="bajo">Caacupé - Paraguay</h6>
                              
          </div><!--Fin Segunda columna Segundo Estudio-->
             
          <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Segundo Estudio-->
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoestu2"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Segundo Estudio-->
    
        </div><!--Fin Segundo Estudio-->
    
        <div class="row p-3"><!--Inicio Tercer Estudio-->
          <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Tercer Estudio-->
                                 
            <div class="row"><!--Inicio Logo Tercer Estudio-->
              <div class="col-xs-12 col-md-6 col-lg-8">
                 
                <img class="logoutic" src="../assest/img/utic.png" alt="Logo Utic">
    
              </div>
      
              <div class="col-xs-12 col-md-6 col-lg-4">
      
                  <ul class="list-group list-group-horizontal uticla">
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                        data-bs-toggle="modal" data-bs-target="#estu3logo"></i></a></div>
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
                 
                  </ul>
      
              </div>
      
            </div><!--Fin logo Tercer Estudio-->
                      
          </div><!--Fin primera columna Tercer Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Tercer Estudio-->
                                 
            <h4 class="institu"><i><strong>Universidad Tecnologica Intercontinental "UTIC"</strong></i></h4>
            <h5 class="bajo">Ingenieria en Sitemas Informaticos</h5>
            <h6 class="bajo">Caacupé - Paraguay</h6>
                              
          </div><!--Fin Segunda columna Tercer Estudio-->
             
          <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Tercer Estudio-->
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoestu3"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Tercer Estudio-->
    
        </div><!--Fin Tercer Estudio-->
    
        <div class="row p-3"><!--Inicio Cuarto Estudio-->
          <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna cuarto Estudio-->
                                 
            <div class="row"><!--Inicio Logo cuarto Estudio-->
              <div class="col-xs-12 col-md-6 col-lg-8">
                 
                <img class="logoapdos letranegra" src="../assest/img/logoap2.png" alt="Logo Utic">
    
              </div>
      
              <div class="col-xs-12 col-md-6 col-lg-4">
      
                  <ul class="list-group list-group-horizontal uticla">
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                        data-bs-toggle="modal" data-bs-target="#estu4logo"></i></a></div>
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
                 
                  </ul>
      
              </div>
      
            </div><!--Fin logo Cuart0 Estudio-->
                      
          </div><!--Fin primera columna Cuarto Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna cuarto Estudio-->
                                 
            <h4 class="institu"><i><strong>Argentina Programa</strong></i></h4>
            <h5 class="bajo">Desarrollador FullStack</h5>
            <h6 class="bajo">Buenos Aires - Argentina</h6>
                              
          </div><!--Fin Segunda columna Cuarto Estudio-->
             
          <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna cuarto Estudio-->
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoestu4"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Cuarto Estudio-->
    
        </div><!--Fin Cuarto Estudio-->
    
    
    </div><!--Fin Contenedor Educacion-->
    
    </section><!--Fin Sección Educacion-->